<h3>Post a comment</h3>

<%= form_for [@tweed, @comment] do |f| %>
  <p>
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </p>
  <p>
    <%= f.submit "Add a new comment", class: "button" %>
  </p>
<% end %>
